* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
.body1 {
    background-image: url(../img/body/853407.jpg);
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 1rem 0rem;
    position: sticky;
    top: 1;
    z-index: 1;


    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);  
    border: rgba(255, 255, 255, 0.9);
}
.nav-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-img-nav {
    width: 9rem;
}
.contenedor  a{
    font-size: 1.5rem;
    color: white;
    margin: 0rem 2rem;
}

.main1-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}
.contenedor-h1 {
    color: white;
    padding: 1rem 1rem;
    font-size: 4rem;
}
.contenedor-p1 {
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
}
.contenedor-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    margin: 0 auto;
}
.main-boton-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 3rem;
}
.main-boton, .main-boton1{
    width: 15rem;
    height: auto;
    padding: 1rem;
    margin: 0rem 1rem;


    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 3rem;
}
.main-boton a, .main-boton1 a {
    font-size: 2rem;
    color: white;
}
.body2 {
    background-image: url(../img/body/GTA_5_Demons_Halloween_Horns_Lantern_516273_1280x720.jpg);
}

.main-informacion-pregunta-texto {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5rem;
}

.main-informacion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-informacion-contenedor-Discord{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 2.5rem;
    width: 25rem;
    height: 28rem;
    padding-bottom: 2rem;
    margin: 2rem 2rem;
}
.main-informacion-contenedor-fivem {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 2.5rem;
    width: 25rem;
    height: 28rem;
    padding-bottom: 2rem;
    margin: 2rem 2rem;
}
.main-informacion-contenedor-fivem {
    width: 25rem;
    height: 29rem;
    padding-bottom: 0 2rem  ;
}
.main-informacion-img-Discord {
    display: flex;
    object-fit: contain;
    border-radius: 1.5rem;
}
.main-informacion-text-Discord, .main-informacion-text-fivem {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    margin: 1rem;
}
.main-informacion-text1-Discord, .main-informacion-text1-fivem {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: white;
}
.body3 {
    background-image: url(../img/body/786027.jpg);
}

.main-staff {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}
.staff-container1,
.staff-container2,
.staff-container3,
.staff-container4 {
    padding: 2rem 0rem;
}
.staff-container1 h1,
.staff-container2 h1,
.staff-container3 h1,
.staff-container4 h1 {
    color: white;
    margin: 1rem;
    font-size: 2.2rem;
    padding-bottom: 2rem;
}
.staff-container1 p,
.staff-container2 p,
.staff-container3 p,
.staff-container4 p {
    color: white;
    margin: 1rem;
    font-size: 1.7rem;
    padding: 0 8rem;
}
.staff-container1 img,
.staff-container2 img,
.staff-container3 img,
.staff-container4 img {
    margin: 1rem;
    width: 8rem;
}