* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
.body1 {
    background-image: url(../img/body/853407.jpg);
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 1rem 0rem;
    position: sticky;
    top: 1;


    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);  
    border: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    z-index: 1;
}
.nav-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-img-nav {
    width: 9rem;
}
.contenedor  a{
    font-size: 1.5rem;
    color: white;
    margin: 0rem 2rem;
}

.main1-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}
.contenedor-h1 {
    color: white;
    padding: 1rem 1rem;
    font-size: 4rem;
}
.contenedor-p1 {
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
}
.contenedor-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    margin: 0 auto;
}
.main-boton-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.main-boton, .main-boton1{
    width: 15rem;
    height: auto;
    padding: 1rem;
    margin: 0rem 1rem;


    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 3rem;
}
.main-boton a, .main-boton1 a {
    font-size: 2rem;
    color: white;
}
