.nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 15rem;
}
.nav-img {
}
.nav-img-nav {
    width: 10rem;
}
.contenedor  a{
    font-size: 2rem;
}
.main1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99vw;
    margin-top: 7rem
}
.main1-contenedor {
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
}
.contenedor-h1 {
    font-size: 5rem;
}
.contenedor-p1 {
    font-size: 2.5rem;
    padding: 0rem 15rem;
    text-align: center;
}
.contenedor-logo {
    width: 34vw;
    justify-content: center;
    margin-bottom: 15rem;
}
.contenedor-logo img {
    width: 70%;
}
.main-boton-container{
    width: 60vw;
    margin-bottom: 3rem;
}
.main-boton, .main-boton1{
    width: 15rem;
    height: auto;
    padding: 1rem;
    margin: 0rem 1rem;


    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 3rem;
}
.main-boton a, .main-boton1 a {
    font-size: 2rem;
    color: white;
}

.main-informacion1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-informacion-contenedor-Discord, .main-informacion-contenedor-fivem {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 2.5rem;
    width: 35vw;
    height: auto;
    padding-bottom: 2rem;
    margin: 6rem 1rem;
}
.main-informacion-img-Discord {
    object-fit: fill;
    border-radius: 2.5rem;
}
.main-informacion-text-Discord, .main-informacion-text-fivem {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    margin: 1rem;
}
.main-informacion-text1-Discord, .main-informacion-text1-fivem {
    text-align: center;
    font-size: 1.8rem;
    padding: 0 8rem;
    color: white;
}
.main-informacion-text1-Discord {
    padding: 0rem 8rem;

}
/* Section3 */

.main-staff {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}
.staff-container {
    padding: 2rem 0rem;
}
.staff-container h1 {
    color: white;
    margin: 1rem;
    font-size: 2.2rem;
    padding-bottom: 2rem;
}
.staff-container1 p,
.staff-container2 p,
.staff-container3 p,
.staff-container4 p {
    color: white;
    margin: 1rem;
    font-size: 1.7rem;
    padding: 0 4rem;
}
.staff-container1,
.staff-container2,
.staff-container3,
.staff-container4 {
    width: 40vw;
}