.contenedor-h1 {
    padding: 3rem 1rem;
}
.contenedor-p1 {
    padding: 2rem 10rem;
}
.main-boton-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 4rem;
}
.main-boton, .main-boton1{
    width: 15rem;
    height: auto;
    padding: 1rem;
    margin: 0rem 1rem;


    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 3rem;
}
.main-boton a, .main-boton1 a {
    font-size: 2rem;
    color: white;
}


.main-informacion1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-informacion-contenedor-Discord, .main-informacion-contenedor-fivem {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.9);
    border-radius: 2.5rem;
    width: 40vw;
    height: auto;
    padding-bottom: 2rem;
    margin: 6rem 2rem;
}
.main-informacion-img-Discord {
    object-fit: fill;
    border-radius: 2.5rem;
}
.main-informacion-text-Discord, .main-informacion-text-fivem {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    margin: 1rem;
}
.main-informacion-text1-Discord, .main-informacion-text1-fivem {
    text-align: center;
    font-size: 1.8rem;
    padding: 0 3rem;
    color: white;
}
.main-informacion-text1-Discord {
    padding: 1rem 3rem;
}